header {
    position: relative;
    background: linear-gradient(115deg,#111b36e3 70%, #e9cb22 20%);
    display: flex;
    justify-content: center;
}

#logo a {
    text-decoration: none;
    color: white;
}

.gallery {
    width: 80%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.gallery-image  {
    display: flex;
    height: auto;   
}

.gallery-image img {
    /* width: auto; */
    width: 100%;
    max-height: 930px;
}

@media only screen and (min-width: 2000px) {
    .gallery {
        width: 1550px;
    }    
}

#prevButton {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    color: black;
    opacity: 0.6;
    cursor: pointer;
    font-size: 2rem;
}

#prevButton:hover {
    opacity: 0.9;
}

#nextButton {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    color: black;
    opacity: 0.6;
    cursor: pointer;
    font-size: 2rem;
}


#nextButton:hover {
    opacity: 0.9;
}

@media only screen and (max-width: 768px){
    #prevButton,
    #nextButton {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 425px){
    #prevButton,
    #nextButton {
        font-size: 1rem;
    }
}

footer {
    position: relative;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #e9cb22;
}

#cpq {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}

section {
    height: auto;
    text-align: center;
}

section .image img {
    width: 100px;
}

#cpq .mainInfo {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
    gap: 20px 20px;
}

.keyValues {
    width: 30%;
}

.mainInfo .sectionHead {
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
    
}

.sectionName {
    width: 100%;
    text-transform: uppercase;
    text-align: start;
    padding-left: 20px;
    background-color: #e9cb22;
}

.featuresListParent {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}


.featuresList {
    padding: 1rem;
    color: white;
    text-align: start;
    width: 500px;
    background-color: #111b36be;
}

.featuresList:hover {
    transform: scale(1.05);
    transform-origin: center;
    transition-duration: 200ms;
}

.featuresList ul {
    width: 80%;
    margin-left: 2rem;
}

@media only screen and (max-width: 768px) {
    #cpq .mainInfo {
        flex-flow: column nowrap;
        align-items: center;
    }
    .keyValues {
        width: 300px;
    }
    .featuresList {
        width: 270px;
    }
}

#contact {
    min-height: auto;
}