header {
    position: relative;
    background: linear-gradient(115deg,#111b36e3 70%, #e9cb22 20%);
    display: flex;
    justify-content: center;
}

#logo a {
    text-decoration: none;
    color: white;
}

.gallery {
    width: 80%;
    height: auto;
    margin: 0 auto;
    /* border: 5px solid black; */
    overflow: hidden;
    position: relative;
}

.gallery-image {
    display: flex;
}

.gallery-image img {
    /* width: auto; */
    width: 100%;
    /* height: auto; */
}

#prevButton {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    color: black;
    opacity: 0.7;
    cursor: pointer;
    font-size: 2rem;
}

#nextButton {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    color: black;
    opacity: 0.7;
    cursor: pointer;
    font-size: 2rem;
}

footer {
    position: relative;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #e9cb22;
}

#cpq {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}

section {
    height: auto;
    text-align: center;
}

section .image img {
    width: 100px;
}

#cpq .mainInfo {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
    gap: 20px 20px;
}

.keyValues {
    width: 30%;
}

.mainInfo .sectionHead {
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
    
}

.sectionName {
    width: 100%;
    text-transform: uppercase;
    text-align: start;
    padding-left: 20px;
    background-color: #e9cb22;
}

.featuresList {
    padding: 1rem;
    color: white;
    text-align: start;
    border: 1px solid black;
    width: 400px;
    background-color: #111b36be;
}

.featuresList p {

}

.featuresList ul {
    width: 80%;
    margin-left: 2rem;
}


@media only screen and (max-width: 768px) {
    #cpq .mainInfo {
        flex-flow: column nowrap;
        align-items: center;
    }
    .keyValues {
        width: 300px;
    }
    .featuresList {
        width: 270px;
    }
    
}